{% load static %}
<section id="welcome" class="tm-section">
    <header>
        <h2 class="tm-blue-text tm-welcome-title tm-margin-b-45">Welcome to Neaty Design</h2>
    </header>
    <p>Neaty is simple and clean design HTML CSS template for any kind of website. Feel free to use this layout. Please tell your friends about templatemo website. Thank you. Suspendisse imperdiet, felis eu hendrerit pretium, sapien mauris blandit arcu, et accumsan neque est ut erat. Vivamus eget tellus euismod, interdum nibh at, eleifend justo. Quisque placerat ante in ex tempor, ultrices bibendum nunc finibus. Etiam luctus nec eros vel pulvinar.</p>
</section>
<section id="about" class="tm-section">
    <div class="row">                                                                
        <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 push-lg-4 push-md-5">
            <header>
                <h2 class="tm-blue-text tm-section-title tm-margin-b-45">About the team</h2>
            </header>
            <p>Sed turpis nunc, laoreet sit amet fermentum sed, euismod ac justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            <p>Donec ut lectus semper, sollicitudin risus blandit, mattis felis. Nam non malesuada odio. Vestibulum vaius, arcu eget rutrum consequat, arcu lacus imperdiet arcu, id pulvinar arcu erat vel magna.</p>
            <p>Ut commodo malesuada eros, quis consequat ante tincidunt ut. Suspendisse malesuada augue vitae nisi sollicitudin placerat.</p>
            <a href="#" class="tm-button tm-button-wide">Read More</a>  
        </div>

        <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 pull-lg-8 pull-md-7 tm-about-img-container">
            <img src="{% static 'img/neaty-02.jpg' %}" alt="Image" class="img-fluid">    
        </div>  
    </div>                            
</section>  

<section id="galleryone" class="tm-section">
    <header><h2 class="tm-blue-text tm-section-title tm-margin-b-30">Gallery One</h2></header>
    <div class="tm-gallery-container tm-gallery-1">
        <div class="tm-img-container tm-img-container-1">
            <a href="{% static 'img/neaty-03.jpg' %}"><img src="{% static 'img/neaty-03.jpg' %}" alt="Image" class="img-fluid tm-img-tn"></a>    
        </div>
        <div class="tm-img-container tm-img-container-1">
            <a href="{% static 'img/neaty-04.jpg' %}"><img src="{% static 'img/neaty-04.jpg' %}" alt="Image" class="img-fluid tm-img-tn"></a>    
        </div>
        <div class="tm-img-container tm-img-container-1">
            <a href="{% static 'img/neaty-05.jpg' %}"><img src="{% static 'img/neaty-05.jpg' %}" alt="Image" class="img-fluid tm-img-tn"></a>    
        </div>
        <div class="tm-img-container tm-img-container-1">
            <a href="{% static 'img/neaty-06.jpg' %}"><img src="{% static 'img/neaty-06.jpg' %}" alt="Image" class="img-fluid tm-img-tn"></a>    
        </div>
        <div class="tm-img-container tm-img-container-1">
            <a href="{% static 'img/neaty-07.jpg' %}"><img src="{% static 'img/neaty-07.jpg' %}" alt="Image" class="img-fluid tm-img-tn"></a>    
        </div>                                    
    </div>
</section>

<section id="secondgallery" class="tm-section">
    <header><h2 class="tm-blue-text tm-section-title tm-margin-b-30">Second Gallery</h2></header>
    <div class="tm-gallery-container tm-gallery-2">
        <div class="tm-img-container tm-img-container-2">
            <a href="{% static 'img/neaty-08.jpg' %}"><img src="{% static 'img/neaty-08.jpg' %}" alt="Image" class="img-fluid tm-img-tn"></a>    
        </div>
        <div class="tm-img-container tm-img-container-2">
            <a href="{% static 'img/neaty-09.jpg' %}"><img src="{% static 'img/neaty-09.jpg' %}" alt="Image" class="img-fluid tm-img-tn"></a>    
        </div>
        <div class="tm-img-container tm-img-container-2">
            <a href="{% static 'img/neaty-10.jpg' %}"><img src="{% static 'img/neaty-10.jpg' %}" alt="Image" class="img-fluid tm-img-tn"></a>    
        </div>                                    
    </div>
</section>

<section id="thirdgallery" class="tm-section">
    <header><h2 class="tm-blue-text tm-section-title tm-margin-b-30">Third Gallery</h2></header>
    <div class="tm-gallery-container tm-gallery-3">
        <div class="tm-img-container tm-img-container-3">
            <a href="{% static 'img/neaty-11.jpg' %}"><img src="{% static 'img/neaty-11.jpg' %}" alt="Image" class="img-fluid tm-img-tn"></a>    
        </div>
        <div class="tm-img-container tm-img-container-3">
            <a href="{% static 'img/neaty-12.jpg' %}"><img src="{% static 'img/neaty-12.jpg' %}" alt="Image" class="img-fluid tm-img-tn"></a>
        </div>
        <div class="tm-img-container tm-img-container-3">
            <a href="{% static 'img/neaty-13.jpg' %}"><img src="{% static 'img/neaty-13.jpg' %}" alt="Image" class="img-fluid tm-img-tn"></a>
        </div>
        <div class="tm-img-container tm-img-container-3">
            <a href="{% static 'img/neaty-14.jpg' %}"><img src="{% static 'img/neaty-14.jpg' %}" alt="Image" class="img-fluid tm-img-tn"></a>
        </div>                                    
    </div>
</section>