<form action="{% url 'home_page' %}" method="post" class="contact-form">
    {% if FormFeadback.non_field_errors %}
        {{FormFeadback.non_field_errors}}
    {% endif %}
    {% csrf_token %}
    <div class="form-group">
        {% comment %} <input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="Name"  required/> {% endcomment %}
        {% if form.name.errors %}
            {{form.name.errors}}
        {% endif %}
        {{form.name}}
    </div>
    <div class="form-group">
        {% comment %} <input type="email" id="contact_email" name="contact_email" class="form-control" placeholder="Email"  required/> {% endcomment %}
        {% if form.email.errors %}
            {{form.email.errors}}
        {% endif %}
        {{form.email}}
    </div>
    <div class="form-group">
        {% comment %} <textarea id="contact_message" name="contact_message" class="form-control" rows="9" placeholder="Message" required></textarea> {% endcomment %}
        {% if form.message.errors %}
            {{form.message.errors}}
        {% endif %}
        {{form.message}}
    </div>                                            
    <button type="submit" class="float-right tm-button">Send</button>
</form> 